.code-view {
  margin:auto;
  text-align: center;
}

.code-field {
  display: flex;
  align-items: center;
  justify-content: center;

  border: #cdcdcd 1px solid;
  border-radius: 4px;
  padding: 0.4em;
  font-size: 2em;
  text-align: center;
  line-height: 1.2;
  background: beige;
  min-height: 2em;
  vertical-align: middle;
}

.code-field-good {
  background: lightgreen;
}

.code-copy-button {
  margin-top:1em;
  text-align: center;
}

.code-value {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:auto;
}

.code-segments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}


@media all and (max-width: 300px) {
  .code-segments {
    flex-direction: column;
  }
}

