<mat-form-field class="code-segment">
  <input matInput placeholder="{{codeField.name}}" [(ngModel)]="value" (keyup)="onValueChanged()"
         [formControl]="valueFormControl"
         [errorStateMatcher]="matcher">
  <mat-hint></mat-hint>
  <mat-error *ngIf="valueFormControl.hasError('pattern') && !valueFormControl.hasError('required')">
    Please enter a valid value.
  </mat-error>
  <mat-error *ngIf="valueFormControl.hasError('required')">
    Value is <strong>required</strong>
  </mat-error>
</mat-form-field>
