.code-segment {
  margin: 4px;
}

@media all and (max-width: 600px) {
  .code-segment {
  }
}

@media all and (max-width: 400px) {
  .code-segment {
    width:220px;
  }
}

@media all and (max-width: 300px) {
  .code-segment {
    width:100%;
  }
}
