<mat-form-field class="code-segment">
  <input matInput placeholder="{{codeField.name}}" [(ngModel)]="value" (keyup)="onValueChanged()"
         [formControl]="valueFormControl"
         [errorStateMatcher]="matcher">
  <mat-hint><app-help-icon [topicId]="codeField.helpTopicId"></app-help-icon></mat-hint>
  <mat-error *ngIf="valueFormControl.hasError('pattern') && !valueFormControl.hasError('required')">
    <app-help-icon [topicId]="codeField.helpTopicId"></app-help-icon> Please enter a valid value.
  </mat-error>
  <mat-error *ngIf="valueFormControl.hasError('required')">
    <app-help-icon [topicId]="codeField.helpTopicId"></app-help-icon> Value is <strong>required</strong>
  </mat-error>
</mat-form-field>
