
<section class="mat-typography">
  <div class="app-home-container">

  <mat-sidenav-container class="gdc-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="gdc-toolbar">
        <span>
            <a [routerLink]="['/projects']" class="app-title">Document Coding</a>

          </span>
        <a *ngIf="mailAddress !== null" href="mailto:{{mailAddress}}?subject=DC Idea" mat-flat-button color="primary">
          <mat-icon>error_outline</mat-icon> I have an idea for improvement!
        </a>
        <a mat-button [routerLink]="['/about']" style="margin-left:3em" class="mat-small">About</a>
        <span style="margin-left:3em" class="mat-small">Version: {{version}}</span>

      </mat-toolbar>

      <app-alert></app-alert>
      <app-help></app-help>

      <div class="app-main-container">
        <router-outlet></router-outlet>

        <span class="footer"></span>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
</section>

